* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Potta One', cursive;
}

.container {
  height: 800px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  font-size: 60px;
  color: #FFF;
  text-shadow: black 1px 1px;
}
.row {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.card {
  display: inline-block;
  background-image: url('../img/pattern.png');
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 230px;
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 0 0 5px 1px grey;
  position: relative;
}

.card:hover .overlay {
  width: 100%;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  border-radius: 10px;
}

.picture h6 {
  font-size: 25px;
  text-shadow: black 1px 1px;
}

.picture img {
  width: 160px;
  height: 180px;
  padding-top: 15px;
}

.tram {
  color: #3366ff;
}

.tractor {
  color: #E67919;
}

.submarine {
  color: #009900;
}

.ship {
  color: #ffcc00;
}

.bike {
  color: #990000;
}

.balloon {
  color: #E61986;
}
